# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

ABModel/ABModel.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ABModel/ABModel.xcodeproj/project.xcworkspace/xcuserdata/alexandre.xcuserdatad/UserInterfaceState.xcuserstate
ABModel/ABModel.xcodeproj/xcuserdata/alexandre.xcuserdatad/xcschemes/ABModel.xcscheme
ABModel/ABModel.xcodeproj/xcuserdata/alexandre.xcuserdatad/xcschemes/xcschememanagement.plist
UserInterfaceState.xcuserstate
ABModel/ABModel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcschemes/ABModel.xcscheme
ABModel/ABModel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcschemes/ABModelTests.xcscheme
ABModel/ABModel.xcodeproj/xcuserdata/alexandrebarbier.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
